{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<script type="text/javascript">
$(document).ready(function(){
  $("#edit").validate({
    rules: {
      password: {required:true},
    },
    messages: {
      username: "You need to provide a password",
    },
    errorElement: "div",
    errorClass: "error"
  });
});
</script>
<form method="post" action="{{ url_for("address_password_edit", username=username, domain=domain) }}" name="edit" id="edit">
<fieldset>
<legend></h2>Edit password for {{ username }}@{{ domain }}</h2></legend>
{{ form.hidden_tag() }}
  <dl>
    {{ render_field(form.password) }}
  </dl>
</fieldset>
<div class="submit">
  <a href="{{ url_for("addresses_index") }}" class="button">Cancel</a>
  <input class="button" type="submit" value="Edit Password"/>
</div>
</form>
{% endblock %}
