{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
<script type="text/javascript">
$(document).ready(function(){
  $("#add").validate({
    rules: {
      username: {required:true},
      domain: {required:true},
      password: {required:true}
    },
    messages: {
      username: "You need to provide a username",
      domain: "You need to select a domain",
      password: "You need to provide a password"
    },
    errorElement: "div",
    errorClass: "error"
  });
});
</script>
<form method="post" action="{{ url_for("address_add") }}" name="add" id="add">
<fieldset>
<legend></h2>Add an address</h2></legend>
{{ form.csrf }}
  <dl>
    {{ render_field(form.username, class="required", autocomplete="off") }}
    <dt>{% if form.domain.flags.required %}<strong>{{ form.domain.label }}</strong>{% else %}{{ form.domain.label }}{% endif %}
    <dd>@ {{ form.domain()|safe }}
      {% if form.domain.description %}
        <p>{{ form.domain.description }}</p>
      {% endif %}
      {% if form.domain.errors %}
        <ul class="errors">
          {% for error in form.domain.errors %}<li>{{ error }}</li>{% endfor %}
        </ul>
      {% endif %}
    </dd>
    {{ render_field(form.password, class="required", autocomplete="off") }}
    {{ render_field(form.active) }}
  </dl>
</fieldset>
<div class="submit">
  <a href="{{ url_for("addresses_index") }}" class="button">Cancel</a>
  <input class="button" type="submit" value="Add Address"/>
</div>
</form>
{% endblock %}
