{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Domain Management</h2>
<p>Here you can create and modify domains which can then be assigned to email addresses and aliases.</p>
<p><a href="{{ url_for("domain_add") }}">Add a domain</a></p>
{% if domains %}
<table>
  <colgroup>
    <col width="15%" align="left" />
    <col width="65%" align="left" />
    <col width="20%" align="right" />
  </colgroup>
	<tr>
		<th>Domain</th>
		<th>Description</th>
		<th></th>
	</tr>
	{% for domain in domains %}
	<tr>
		<td>{{ domain.name }}</td>
		<td>{{ domain.description }}</td>
		<td>
            <a href="{{ url_for("domain_edit", name=domain.name) }}" class="button">Edit</a>
            <a href="{{ url_for("domain_delete", name=domain.name) }}" class="button">Delete</a>
        </td>
	</tr>
	{% endfor %}
</table>
<h2>Actions</h2>
<p><strong>Edit</strong> - Edit a domain, currently this only allows you to edit the description</p>
<p><strong>Delete</strong> - Delete a domain and all email accounts and aliases associated with it</p>
{% endif %}
{% endblock %}
